*{
 /* background-color: white;  */
}

.title-danger{
  color: coral;
}

.section{
  margin-top: 20px;
  margin-bottom: 40px;
}

.product-item .ant-typography   {
  margin: 0;
}

.product-item .button-container{
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  padding: 15px;
  
} 
.btn-list  .ant-btn-icon-only{
 border: none;
  width: 38px;
  border-radius: 100px  !important
}
.product-item .button-container .btn-list{
  height: 100%;
}
.product-item .button-container {
  display: none;
}
.product-item:hover .button-container {
  display: block;
  transition: 530ms;
}

.product-item:hover{
  box-shadow: 10px 9px 49px 1px rgba(0,0,0,0.44);
  -webkit-box-shadow: 10px 9px 49px 1px rgba(0,0,0,0.44);
  -moz-box-shadow: 10px 9px 49px 1px rgba(0,0,0,0.44);
  transition: 1s;
}

.shadow-hover:hover{
  box-shadow: 10px 9px 49px 1px rgba(0,0,0,0.44);
  -webkit-box-shadow: 10px 9px 49px 1px rgba(0,0,0,0.44);
  -moz-box-shadow: 10px 9px 49px 1px rgba(0,0,0,0.44);
}

.shadow{
  box-shadow: 10px 9px 49px 1px rgba(0,0,0,0.44);
  -webkit-box-shadow: 10px 9px 49px 1px rgba(0,0,0,0.44);
  -moz-box-shadow: 10px 9px 49px 1px rgba(0,0,0,0.44);
}

.color-item{
  width: 32px;
  height: 32px;
  border-radius: 4px;
}

.button-groups{
  display: flex;
  align-items: center;
  border-radius: 6px;
  border: 1px solid #212121;
  min-height: 40px;

}

.button-groups span{
  padding: 0 12px
}

.ant-btn-primary span {
  font-weight: 200;
}

.ant-steps-item-content{
  margin-top: 0px !important;
}